@charset "utf-8";
.section-a .win .box .contant{left:50%;top:50%;margin-top:-100px;animation: august_font  2s linear;-webkit-animation: august_font  2s linear;}
@keyframes august_font{
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes august_font /* Firefox */
{
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@-webkit-keyframes august_font /* Safari and Chrome */
{
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@-o-keyframes august_font /* Opera */
{
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}
.section-a .win .box{min-height: 640px;}
